.App {
  
}

.AppBG {
  min-height: 100vh;
  color: black;
  font-family: "Roboto";
}

.App-header {
  background-color: #F3EDE0;
}

h1{
  font-weight: normal;
}

h2{
  font-weight: 300;
  font-size: calc(8px + 2vmin);
}